* {
    font-family: Helvetica, "Microsoft Yahei", "PingFang SC", "Ubuntu Mono", sans-serif;
}

body {
    background: linear-gradient(180deg, #FFB7B7 0%, #727272 100%), radial-gradient(60.91% 100% at 50% 0%, #FFD1D1 0%, #260000 100%), linear-gradient(238.72deg, #FFDDDD 0%, #720066 100%), linear-gradient(127.43deg, #00FFFF 0%, #FF4444 100%), radial-gradient(100.22% 100% at 70.57% 0%, #FF0000 0%, #00FFE0 100%), linear-gradient(127.43deg, #B7D500 0%, #3300FF 100%);
    background-blend-mode: screen, overlay, hard-light, color-burn, color-dodge, normal;
}

h1{
    color:goldenrod;
    text-align:center;
}
h2{
    color:skyblue;
    text-align:center;
    padding-bottom: 25px;
}
h3{
    text-align: center;
}
div{
    text-align:center;
}
img {
    position: absolute;
    left: 810px;
    top: 350px;
    width: 300px;
    height: 400px;
    background-repeat: no-repeat;
    box-sizing: border-box;
    border-radius: 25px;
}
input[type="button"] {
    box-sizing: border-box;
    border-radius: 10px;
    background-image: linear-gradient(to right, rgb(46, 205, 245), rgb(223, 220, 83));
    border: 1px solid tan;
}
::-webkit-scrollbar {
    width: 5px;
    background: linear-gradient(
        to bottom,
        hsl(0deg, 100%, 50%, 0.4) 0%,
        hsl(40deg, 100%, 50%) 20%,
        hsl(80deg, 100%, 50%) 30%,
        hsl(120deg, 100%, 50%) 40%,
        hsl(180deg, 100%, 50%) 50%,
        hsl(250deg, 100%, 50%) 80%,
        hsl(320deg, 100%, 50%, 0.4) 100%
    );
    border-radius: 4px;
}
::-webkit-scrollbar-thumb {
    background: linear-gradient(
        to bottom,
        hsl(0deg, 100%, 50%, 0) 0%,
        hsl(0deg, 100%, 100%, 0.9) 20%,
        hsl(0deg, 100%, 100%, 0.9) 80%,
        hsl(0deg, 100%, 50%, 0) 100%
    );
    border-radius: 100%;
}
